<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"

      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <link rel="stylesheet" type="text/css" href="../../static/css/MainStyle.css" th:href="@{/css/MainStyle.css}"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/UserViewStyle.css" th:href="@{/css/UserViewStyle.css}"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../../static/js/pixlabs.js" th:src="@{/js/pixlabs.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <meta charset="UTF-8"/>
    <title>Pix-Labs</title>
</head>
<body>
<!--<img class="bg" src="../static/img/backgroundMain.jpg" th:src="@{img/backgroundMain.jpg}"/>-->
<div class="header" id="header" th:include="header/Header">
</div>

<div class="user-navigation" id="user-navigation" th:include="header/Navigation"></div>
<div class="body-content" id="mainBody">
    <!--Add some User content-->
    <!--Profile picture of the selected user-->
    <div class="sub-body">
        <!--/*@thymesVar id="userInfo" type="com.pixlabs.data.entities.user.User"*/-->

        <div class="sub-container">
            <div class="sub-header">

            <h1 id="pageTitle" class="header-title" th:value="${userInfo.getUsername()}">Pixel</h1>
            <img id="profilePicture" src="../../static/img/defaultLogo.png" th:src="@{profilePicture}"/>
            <div id="profile-navigation">
                <ul class="profile-navigation-link-container ">
                    <li>
                        <a>Profile</a>
                    </li>

                </ul>
                <ul class="profile-navigation-link-container ">
                    <li>
                        <a>Activity</a>
                    </li>

                </ul>
                <ul class="profile-navigation-link-container ">
                    <li>
                        <a>Preferences</a>
                    </li>

                </ul>
            </div>
            </div>


        </div>
    </div>


</div>


<div class="footerContainer" th:include="footer/Footer">
</div>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById("sub-navigation-user").style.backgroundColor = "#2e328b";
        console.log("Setting nav color");
    })


</script>

</html>