.headerBackground{
    height: 40px;
    background-color: #1d222f;
}

.header-wrapper{
    width: 60%;
    min-width: 1000px;
    left: 20%;
    position: relative;
}
.header-navigation{
    position: absolute;
    right: 0;
    top:5px;
    font-size: 20px;
    color: white;
}


.userHeaderPart{
    top:5px;
    position: absolute;
    right: 150px;
    color: white;

}
.userHeaderPart button{
    color: white !important;;
    background-color: #1d222f;
}

.userHeaderPart button:hover{
    color: white;
    background-color: #2c3241 !important;;
}

.dropdown-menu {
    background-color: #1d222f;
}

.dropdown-menu li{
    background-color: #1d222f !important;;
    color: white !important;
}
.dropdown-menu a{

    background-color: #1d222f !important;;
    color: white !important;
}

.dropdown-menu a:hover{
    background-color:white!important;;
    color: black !important;
}



.dropdown-menu li:hover{
    background-color: #1d222f;
    color: white;
}



.overlay {
    font-size:15px;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 40px;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    top: 10%;
    width: 100%;
    text-align: center;
    display: inline-block;
    margin-top: 30px;
    position: relative;
    /*! left: 40%; */
}


.overlay-login {
    color: white;
    display:block;
    position: absolute;
    width: 200px;
    left: 500px;
}
.overlay-login form input label{
    display: block;
    position: relative;
    width: 200px;
}


.overlay-signup{
    position: absolute;
    left: 1100px;
    color: white;
    width: 200px;
    display: block;
}

.overlay-title{
    font-size: 50px;
}

.overlay form input{
    text-align: center;
    display: block;
    position: relative;
    width: 200px;
}



.overlay form input:invalid{
    border: 1px solid red;
}



.overlay a {
    padding: 8px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    font-size: 36px;
    position: absolute;
    top: 20px;
    right: 45px;
}

@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}



.overlay-regsuccess{
    visibility: hidden;
    color: white;
    position: absolute;
    top:00px;
    right: 600px;
    display: inline-grid;
}

.overlay-regsuccess label,.overlay-regsuccess input{
    width: 800px;
}



.auth-error{
    visibility: hidden;
    color: red;
    font-size: 12px;
    position: absolute;
    margin-top: 10px;
    left: 200px;
    width: 200px;
}


.action-confirmation{
    visibility: hidden;
}

input{
    color: #000;
}