body{

}

html{

}

.header{
    z-index: 300;
    min-width: 500px;
}

img.bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
    img.bg {
        left: 50%;
        margin-left: -512px;   /* 50% */
    }
}

.signUp{
    width: 500px;
    margin: 2px;
    border-radius: 50px;
    background-color: #CFD4E8;
    position: absolute;
    top:150px;
    right: 20%;
    height: 300px;
}
.signUp form{
    position: relative;
    left:  300px;
    top: -15px;
}
.signUp input{
    position: relative;
    display: block;
}

.mainBody{
    left:0;
    width: 100%;
    position: absolute;
    top:500px;
    height: 600px;
    background-color:#CFD4E8;
}