.creation-form{
    width: 60%;
    left:20%;
    position: relative;
}

.creation-form textarea{
    width: 70%;
    max-width: 700px;
    max-height: 400px;
    min-height: 50px;
    min-width: 440px;

}

.creation-form #projectTitle{
    width: 300px;
}

.creation-form #projectTags{
    width: 400px;
}
.creation-form .confirmation-button{
    float: right;
    position: relative;
    right: 200px;
}
