
.navigation-container{
    position: relative;
    top:30px;
    width: 80%;
    left: 10%;
    min-width: 1000px;
}
.user-navigation{
    left: 400px;
    position: relative;
}

.user-navigation ul{
    color: white;
    list-style: none;
    padding: 1px 15px;
    background-color: #aebfff;
    margin: 0px 0px 0px 10px;
    display: inline-block;
}



.user-navigation ul:hover{
    background-color: #2e328b;
}

.user-navigation a,ul:hover{
    text-decoration: none;
    color: white;
}



