<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"

      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/MainStyle.css" th:href="@{css/MainStyle.css}" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../static/js/pixlabs.js" th:src="@{js/pixlabs.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <meta charset="UTF-8"/>
    <title>Pix-Labs</title>
</head>
<body>
<!--<img class="bg" src="../static/img/backgroundMain.jpg" th:src="@{img/backgroundMain.jpg}"/>-->
<div class="header" id="header" th:include="header/Header">
</div>
<div class="user-navigation" id="user-navigation" th:include="header/Navigation"></div>
<div class="body-container" id="mainBody">
    <!--Add some index content-->
    <h1>The page you're looking for doesn't seem to exist.</h1>

</div>


<div class="footerContainer" th:include="footer/Footer">
</div>
</body>
</html>