<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"

      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/MainStyle.css" th:href="@{css/MainStyle.css}" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../static/js/pixlabs.js" th:src="@{js/pixlabs.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <meta charset="UTF-8"/>
    <title>Pix-Labs</title>
</head>
<body>
    <!--<img class="bg" src="../static/img/backgroundMain.jpg" th:src="@{img/backgroundMain.jpg}"/>-->
    <div class="header" id="header" th:include="header/Header">
        <link rel="stylesheet" type="text/css" href="../static/css/HeaderStyle.css" th:href="@{/css/HeaderStyle.css}"/>


        <div id="myNav" class="overlay">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="overlay-content">
                <div class="overlay-login">
                    <span class="overlay-title">Log in:</span>
                    <form th:action="@{/login}" method="POST">

                        <label for="name">Username or E-mail</label>
                        <input type="text" id="name" name="login" autofocus="autofocus"/>
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password"/>
                        <input type="submit" value="Log in"/>
                    </form>
                    <a class="forgotten-pass">Forgotten password?</a>
                </div>
                <div class="overlay-signup">
                    <form th:action="@{/signUp}">
                        <span class="overlay-title">Sign up</span>
                        <label for="usernameSignUP">First name</label>
                        <input type="text" id="usernameSignUP" name="name"/>
                        <label for="email">Last name</label>
                        <input type="email" id="email" name="email"/>
                        <label for="passwordSignUp">Password:</label>
                        <input type="password" id="passwordSignUp" name="password"/>
                        <label for="passwordConfirm">Confirm password:</label>
                        <input type="password" id="passwordConfirm"/>
                        <input type="submit" value="Sign up"/>
                    </form>
                </div>
            </div>
        </div>


        <div class="headerBackground">

            <div class="header-wrapper">
                <div class="user-navigation">
                    <div class="header-login" sec:authorize="isAnonymous()">
                        <span class="login-overlayStart" onclick="openNav()">Sign in</span>
                    </div>
                </div>
            </div>
        </div>

        <script>
            function openNav() {
                document.getElementById("myNav").style.width = "100%";
            }

            function closeNav() {
                document.getElementById("myNav").style.width = "0%";
            }
        </script>
    </div>
    <div class="footerContainer" th:include="footer/Footer">

        <link rel="stylesheet" type="text/css" href="../static/css/FooterStyle.css" th:href="@{/css/FooterStyle.css}"/>
        <div class="footer">
            <div id="footerLimit"></div>
            <img id="footerLogo" src="../static/img/footerlogo.png" th:src="@{/img/footerLogo.png}"/>

            <div class="footerCategories" id="Support"> <p><u>Support</u></p></div>

            <div id="footerFooter">
                <a>Copyright</a> |
                <a>Privacy Policy</a> |
                <a>Terms of Use</a> |
                <a>Contact</a>
            </div>
        </div>

    </div>
</body>
</html>