<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"

      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/MainStyle.css" th:href="@{/css/MainStyle.css}" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../static/css/passwordRecovery.css" th:href="@{/css/passwordRecovery.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../static/js/pixlabs.js" th:src="@{/js/pixlabs.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <meta charset="UTF-8"/>
    <title>Pix-Labs</title>
</head>
<body>
<!--<img class="bg" src="../static/img/backgroundMain.jpg" th:src="@{img/backgroundMain.jpg}"/>-->

<div class="body-container" id="mainBody">
    <div>

        <div class="headerBackground">


            <link rel="stylesheet" type="text/css" href="../static/css/HeaderStyle.css"
                  th:href="@{/css/HeaderStyle.css}"/>


            <div class="headerBackground">

                <div class="header-wrapper">

                </div>
            </div>
        </div>
    </div>
    <!--Add some index content-->
    <div class="body-content">
        <!--/*@thymesVar id="passwordResetDto" type="com.pixlabs.web.dto.PasswordResetDto"*/-->
    <form id="passwordRecoveryForm" name="passwordRecoveryForm" th:object="${passwordResetDto}" th:action="@{/auth/savePasswordReset}" th:method="post">

    <h3>Password recovery for: <!--/*@thymesVar id="passwordResetUsername" type="java.lang.String"*/-->
    <br/>
        <span th:value="${passwordResetUsername}">Username</span></h3>
        <br/>
        <input type="password" th:field="*{password}" required="required" placeholder="password"/>
        <br/>
        <input type="password" th:field="*{confirmPassword}" required="required" placeholder="confirm"/>
        <br/>
        <br/>
        <input type="submit" value="Update password." form="passwordRecoveryForm"/>
        <br/>
        <br/>
        <span class="auth-error" id="recovery-error"></span>
        <span class="auth-success" id="recovery-success"></span>
    </form>
    </div>


</div>


<div class="footerContainer" th:include="footer/Footer">
</div>
<script>

    console.log("1");
    function recoverPassword(event) {
        event.preventDefault();
        console.log("Recovering password 1");
        document.getElementById("recovery-success").innerHTML = "  ";
        document.getElementById("recovery-error").innerHTML = "   ";
        var formData = $('#passwordRecoveryForm').serialize();

        console.log("Recovering password");
        $.post("/auth/savePasswordReset",formData,function (data) {
            if(data.message=="success"){
                document.getElementById("recovery-success").innerHTML = "Your password has been updated.";
            } else {
                document.getElementById("recovery-error").innerHTML = "An error has occured, please try again.";
            }
        });
    }

    console.log("2");

    $(document).ready(function (event) {
        $('#passwordRecoveryForm').submit(function (event) {
            recoverPassword(event);
        });
    });



</script>

</body>
</html>